*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #0e112c;
    /* border: 2px solid white; */
    /* padding: 0 5%; */
    color: white;
    border: 2px solid white;
    margin: 0 5%;
}
#landing-page{
    height: 100vh;
    border: 2px solid red;
}
.menu,.main-nav img{
    display: none;
}
nav{
    display: flex;
    align-items: center;
    height: 10vh;
    border: 2px solid blue;
    width: 100%;
    justify-content: space-between;
    /* padding-top:10px ; */
}
#text span{
    display:inline-block;
}
.colorfont span{
    display: inline-block;
}
.list{
    height: 100%;
    /* border: 2px solid blue; */
    width: 30vw;
}
.cross{
    display: none;
}
.main-nav a{
    text-decoration: none;
    color: white;
}
.main-nav a:hover{
    color: #08D3FF;
}
.nav ul{
    height: 100%;
    /* border: 2px solid grey; */
    list-style-type: none;
    text-decoration: none;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 20%;
}
.topmain{
    opacity: 0; /* Start transparent */
    transform: translateX(-50px); /* Start shifted left */
    animation: fade 2s ease-out forwards; /* 2-second animation */
    animation-delay: 1s;
    height: 70%;
    margin-top: 5%;
    display: flex;
    gap: 10%;
}
.discription{
    /* border: 2px solid white; */
    width: 60%;
    display: grid;
    gap: 15px;
    margin: 0 1% 0 2%;
}
.discription h2{
    font-size: 2.5rem;
}
.discription h1{
    font-size: 2rem;
}
.discription h3{
    font-size: 2rem;
}
.colorfont{
    color: #08D3FF;
    
}
.discription p{
    font-size: 1.2rem;
}
.images{
    display: flex;
    gap: 5%;
    border: 2px grey;
}
.images img{
    width: 6.5%;
    height: 65%;
}
#linkedin{
    width: 35px;
    height: 31px;
    margin-top: 7px;
}
.download{
    padding: 2% 3% 2.2% 3%;
    font-size: 1rem;
    background-color: #08D3FF;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    text-align: center;
    display: inline-block;
}
.glow{
    display: inline-block;
}
.glow img{
    width: 80%;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px rgba(137, 137, 137, 0.5);
    margin-bottom: 50px;
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}

/* -----------------service section -----------------*/
.heading{
    text-align: center;
    padding-top:3% ;
}
#service{
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
    height: 100vh;
}
.service h1{
    font-size: 2rem;
    margin-top: 2%;
}
.colorfont{
    color: #08D3FF;
}
.services{
    display: flex;
    /* border: 2px solid white; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25%;
    height: 90%;
}
.first-service,.second-service{
    width: 340px;
    height: 350px;
    border: 1px solid #08D3FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8%;
    padding: 2%;
    border-radius: 2%;
    background-color: #3D3F55;
    box-shadow: 0px 0px 5px cyan, 0px 0px 5px inset;
}
.first-service img,.second-service img{
    width: 10%;
}
.read1,.read2{
    padding: 5% 9% 5% 9%;
    border: none;
    background-color: #08D3FF;
    color: white;
    font-size: 0.8rem;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}

/*------------------- about section ----------------------*/
.about{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
        height: 100vh;
}
.imgcontainer{
    /* border: 2px solid white; */
    width: 500px;
    height: fit-content;
}
.image2{
    width: 100%;
    /* border:2px solid #08D3FF; */
    background-color: #3D3F55;
    border-radius: 5px;
}
.text{
    /* border: 2px solid red; */
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 5%;
    /* border: 2px solid white; */
}
.text h1{
    font-size: 3rem;
}
.text p{
    font-size: 1.2rem;
}
.stats{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.btns{
    display: flex;
    gap: 2%;
}
.skill-btn,.edu-btn{
    font-size: 1rem;
    color: white;
    background-color: #0e112c;
    border: none;
}

/* contact section */

.contact{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.containt{
    /* border: 2px solid pink; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.contants{
    /* border: 2px solid red; */
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;

}
.contants h1{
    font-size: 3.5rem;
    text-align: center;
}
.me{
    color: #08D3FF;
}
.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.email,.number{
    display: flex;
    align-items: center;
    gap: 2%;
}
.email a{
    text-decoration: none;
    color: white;
}
.social-media2{
    display: flex;
    gap: 35px;
}
.social-media2 img{
    width: 50px;
}

.form{
    /* border: 2px solid green; */
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2%;
}
.name,.mail{
    height: 10vh;
    border: none;
    border-radius: 8px;
    background-color: #646464;
    padding: 2%;
    outline: none;
}
.message{
    height: 35vh;
    border: none;
    background-color: #646464;
    border-radius: 8px;
    padding: 2%;
    outline: none;
}
.name::placeholder,.mail::placeholder,.message::placeholder{
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
}
.submit{
    width: 9vw;
    padding: 2%;
    border: none;
    border-radius: 5px;
    background-color: #08D3FF;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}
@keyframes fade{
    to {
        opacity: 1; /* Fully visible */
        transform: translateX(0); /* No horizontal shift */
      }
    
}
