@media only screen and (min-width:2560px){
    html{
        font-size: 30px;
    }
    .landing-page,.service,.about,.contact{
        min-height:100vh;
        width: auto;
        /* border: 2px solid red; */
    }
    .service,.about,.contact{
        padding:0;
    }
    .nav{
        height: 10vh;
        font-size: 3.1vh;
        /* border: 2px solid red; */
        margin-top: 10px;
    }
    .nav ul{
        flex-basis: 30%;
    }
    .main-nav a{
        font-size: 2.5vh;
    }
    .discription{
        gap: 5vh;
        margin-right: 8%;
    }
    .discription h2{
        font-size: 5vh;
    }
    .discription h1{
        font-size: 5vh;
    }
    .discription h3{
        font-size: 5vh;
    }
    .discription p{
        font-size: 3vh;
    }
    .download{
        font-size: 2vh;
    }
    .images img{
        width: 5%;
        height: fit-content;
    }
    .glow img{
        width: 25vw;
    }
    /* service section */
    #heading{
        margin-top: 5vh;
        font-size: 5.5vh;
    }
    .service{
        /* border: 2px solid red; */
    }
    .service h1{
        font-size: 5vh;
    }
    .first-service img,.second-service img{
        width: 5vh;
    }
    .first-service p,.second-service p{
        font-size: 2.5vh;
    }
    .read1,.read2{
        font-size: 2vh;
    }
    .services{
        height: 85vh;
    }
    .first-service,.second-service{
        width: 25vw;
        height: 50vh;
        gap: 2vh;
    }
    .first-service h1,.second-service h1{
        font-size: 4vh;
    }
    /* about section */
    .imgcontainer{
        width: 35vw;
    }
    .text{
        gap: 7vh;
    }
    .text h1{
        font-size: 6vh;
    }
    .text p{
        font-size: 2.8vh;
    }
    .stats{
        gap: 5vh;
    }
    .skill-btn,.edu-btn{
        font-size: 2vh;
    }
    /* contact section */
    .contants h1{
        font-size: 10vh;
    }
    .email a,.number p{
        font-size: 2.6vh;
    }
    .email img,.number img{
        width: 3vw;
    }
    .social-media2{
        gap: 3vw;
    }
    .social-media2 img{
        width: 3.9vw;
    }
    .form{
        gap: 5vh;
    }
    .name::placeholder,.mail::placeholder,.message::placeholder{
        font-size: 2vh;
    }
    .submit{
        font-size: 2.2vh;
    }

}
@media only screen and (max-width:2560px) and (min-width:1441px){
        html{
        font-size: 30px;
    }
    .landing-page,.service,.about,.contact{
        min-height:100vh;
        width: auto;
        /* border: 2px solid red; */
    }
    .service,.about,.contact{
        padding:0;
    }
    .nav{
        height: 10vh;
        font-size: 3.1vh;
        /* border: 2px solid red; */
        margin-top: 10px;
    }
    .nav ul{
        flex-basis: 30%;
    }
    .main-nav a{
        font-size: 2.5vh;
    }
    .discription{
        gap: 5vh;
        margin-right: 5%;
    }
    .discription h2{
        font-size: 5vh;
    }
    .discription h1{
        font-size: 5vh;
    }
    .discription h3{
        font-size: 5vh;
    }
    .discription p{
        font-size: 3vh;
    }
    .download{
        font-size: 2vh;
    }
    .images img{
        width: 5%;
        height: fit-content;
    }
    .glow img{
        width: 24vw;
    }
    /* service section */
    #heading{
        margin-top: 5vh;
        font-size: 5.5vh;
    }
    .service{
        /* border: 2px solid red; */
    }
    .service h1{
        font-size: 5vh;
    }
    .first-service img,.second-service img{
        width: 5vh;
    }
    .first-service p,.second-service p{
        font-size: 2.5vh;
    }
    .read1,.read2{
        font-size: 2vh;
    }
    .services{
        height: 85vh;
    }
    .first-service,.second-service{
        width: 25vw;
        height: 50vh;
        gap: 2vh;
    }
    .first-service h1,.second-service h1{
        font-size: 4vh;
    }
    /* about section */
    .imgcontainer{
        width: 35vw;
    }
    .text{
        gap: 7vh;
    }
    .text h1{
        font-size: 6vh;
    }
    .text p{
        font-size: 2.8vh;
    }
    .stats{
        gap: 5vh;
    }
    .skill-btn,.edu-btn{
        font-size: 2vh;
    }
    /* contact section */
    .contants h1{
        font-size: 10vh;
    }
    .email a,.number p{
        font-size: 2.6vh;
    }
    .email img,.number img{
        width: 3vw;
    }
    .social-media2{
        gap: 3vw;
    }
    .social-media2 img{
        width: 3.9vw;
    }
    .form{
        gap: 5vh;
    }
    .name::placeholder,.mail::placeholder,.message::placeholder{
        font-size: 2vh;
    }
    .submit{
        font-size: 2.2vh;
    }
}
@media only screen and (max-width:1440px) and (min-width:769px){
    html{
        font-size: 16px;
    }
    body{
        padding: 0 5%;
    }
    .landing-page,.service,.about,.contact{
        min-height: 100vh;
        width: 100%;
        /* border: 2px solid red; */
        padding: 0;
    }
    .service,.about{
       margin-bottom: 5%;
    }
    .nav{
        justify-content: flex-start;
        gap: 53.8vw;
    }
    .nav h1{
        font-size: 2.5vw;
    }
    .menu{
        display: none;
    }
    .nav ul li {
        padding: 0;
        margin: 0 5%;
    }
    .main-nav a{
        font-size: 1.2vw;
    }
    .landing-page{
        /* height: 100vh; */
        /* border: 2px solid red; */
        margin-bottom: 5%;
    }
    .topmain{
        display: flex;
        flex-direction: column-reverse;
    }
    .discription{
        width: 100%;
        margin: 0;
    }
    .discription h2{
        font-size: 2.5vw;
    }
    .discription h1{
        font-size: 2.5vw;
    }
    .discription h3{
        font-size: 2.5vw;
    }
    .discription p{
        font-size: 1.5vw;
    }
    .images img{
        width: 4%;
        height: fit-content;
    }
    .download{
        font-size: 1.5vw;
        width: 15vw;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .glow img{
        width: 22vw;
        margin-bottom: 3%;
    }

    /* ---------------------service section--------------------- */
    .service{
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* height: 100vh; */
        border: 2px solid red;
    }
    .services{
        border: 2px solid green;
        gap: 15vw;
        height: 90vh;
    }
    .first-service,.second-service{
        width: 25vw;
        height: 50vh;
        gap: 2vh;
    }
    .first-service h1,.second-service h1{
        font-size: clamp(6px,2vw, 30px);
    }
    .first-service p,.second-service p{
        font-size: clamp(12px,1.4vw, 18px);
    }
    .first-service img,.second-service img{
        width: 13%;
    }
    .read1,.read2{
        font-size: clamp(12px, 1.2vw, 18px);
    }
    #heading{
        font-size: 3vw;
    }
    /* ---------------------about section--------------------- */
    .imgcontainer{
        width: 35vw;
    }
    .text{
        gap: 7vh;
    }
    .text h1{
        font-size: 3vw;
    }
    .text p{
        font-size: 1.4vw;
    }
    .stats{
        gap: 5vh;
    }
    /* ---------------------contact section--------------------- */
    .contants h1{
        font-size: 5vw;
    }
    .email a,.number p{
        font-size: 1.2vw;
    }
    .email img,.number img{
        width: 3vw;
    }
    .social-media2{
        gap: 3vw;
    }
    .social-media2 img{
        width: 3.9vw;
    }
    .form{
        gap: 5vh;
    }
    .name::placeholder,.mail::placeholder,.message::placeholder{
        font-size: 2vh;
    }
    .submit{
        font-size: 1.3vw;
    }
}
@media only screen and (max-width:768px) and (min-width:426px){
    html{
        font-size: 16px;
    }
    body{
        padding: 0 5%;
    }
    .landing-page,.service,.about,.contact{
        min-height: 100vh;
        width: 100%;
        /* border: 2px solid red; */
        padding: 0;
    }
    .service,.about,.contact{
       margin-bottom: 5%;
    }
    .nav ul{
        display: none;
    }
    .nav h1{
        font-size: 3.5vw;
    }
    .menu{
        width: 4vw;
        padding: 0;
        display: block;
        /* border: 2px solid red; */
    }
    .menu img{
        width:4vw ;
    }
    .landing-page{
        /* height: 100vh; */
        /* border: 2px solid red; */
        margin-bottom: 5%;
    }
    .topmain{
        display: flex;
        flex-direction: column-reverse;
    }
    .discription{
        width: 100%;
        margin: 0;
    }
    .discription h2{
        font-size: 4vw;
    }
    .discription h1{
        font-size: 4vw;
    }
    .discription h3{
        font-size: 4vw;
    }
    .discription p{
        font-size: 2.5vw;
    }
    .images img{
        width: 7%;
        height: fit-content;
    }
    .download{
        font-size: 2vw;
        width: 20vw;
        height: 7.5vh;
    }
    .glow img{
        width: 40vw;
        margin-bottom: 3%;
    }

    /* ---------------------service section--------------------- */
    .service{
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* height: 100vh; */
        /* border: 2px solid red; */
    }
    .services{
        /* border: 2px solid green; */
        flex-direction: column;
        gap: 35px;
    }
    .first-service,.second-service{
        width: 300px;
        height: 310px;
        gap: 25px;
    }
    .first-service h1,.second-service h1{
        font-size: 1.5em;
    }
    .first-service p,.second-service p{
        font-size: 0.9em;
    }
    #heading{
        font-size: 2rem;
    }
    /* ---------------------about section--------------------- */
    .about{
        padding: 0;
    }
    .main{
        flex-direction: column;
    }
    .imgcontainer{
        width: 50vw;
    }
    .text{
        width: 100%;
    }
    .text h1{
        font-size: 2rem;
        text-align: center;
    }
    .text p{
        font-size: 1rem;
    }
    .uiux p,.web-dev p{
        font-size: 1rem;
    }
    /* ---------------------contact section--------------------- */
    .containt{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .contants{
        width: 100%;
        gap: 35px;
    }
    .contants h1{
        font-size: 5vw;
    }
    .detail{
        gap: 30px;
    }
    .email a,.number p{
        font-size: 2vw;
    }
    .form{
        width: 100%;
        height: auto;
        gap: 32px;
    }
    .social-media2 img{
        width: 50px;
    }
    .name,.mail{
        height: 65px;
    }
    .name::placeholder,.mail::placeholder,.message::placeholder{
        font-size: 2vw;
    }
    .message{
        height: 190px;
    }
    .submit{
        width: 20vw;
        height: 8vh;
        font-size: 2.2vw;
    }
}
@media only screen and (max-width:425px){
    html{
        font-size: 8px;
    }
    body{
        padding: 0 5%;
    }
    .landing-page,.service,.about,.contact{
        min-height: 100vh;
        width: 100%;
        /* border: 2px solid red; */
    }
    .service,.about,.contact{
        padding: 20px 0;
    }
    .nav ul{
        display: none;
    }
    .nav h1{
        font-size: 1.7rem;
    }
    .menu{
        padding: 0;
        display: block;
    }
    .menu img{
        width:7vw ;
    }
    .landing-page{
        /* border: 2px solid red; */
    }
    .topmain{
        display: flex;
        flex-direction: column-reverse;
    }
    .discription{
        width: 100%;
        margin: 0;
    }
    .images img{
        width: 10vw;
        height: fit-content;
    }
    .discription h2{
        font-size: 2rem;
    }
    .discription h1{
        font-size: 2rem;
    }
    .discription h3{
        font-size:2rem;
    }
    .discription p{
        font-size: 1.1rem;
        line-height: 2.5vh;
    }
    .glow img{
        width: 65%;
    }
    .download{
        width: 36vw;
        height: 5vh;
        font-size: 1.5em;
    }
    /* ---------------------service section--------------------- */
    #heading{
        font-size: 3rem;
    }
    .service{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .services{
        gap: 20px;
    }
    .first-service h1,.second-service h1{
        font-size: 7vw;
    }
    .first-service img,.second-service img{
        width: 8vw;
    }
    .first-service p,.second-service p{
       font-size: 1.2rem;
    }
    .first-service,.second-service{
        width: 80%;
        height: 40vh;
    }
    .read1 , .read2{
        font-size: 1.2rem;
    }
    /* ---------------------about section--------------------- */
    .main{
        flex-direction: column;
        gap: 4vh;
    }
    .imgcontainer{
        width: 70vw;
    }
    .text{
        width: 100%;
    }
    .text h1{
        text-align: center;
        margin-bottom: 3%;
    }
    .stats{
        gap: 20px;
    }
    /* ---------------------contact section--------------------- */
    .containt{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .contants{
        width: 100%;
        gap: 30px;
    }
    .detail{
        gap: 5vw;
    }
    .form{
        width: 100%;
        gap: 20px;
    }
    .email img,.number img{
        width: 10vw;
        
    }
    .social-media2{
        gap: 6vw;
    }
    .social-media2 img{
        width: 10vw;
    }
    .name,.mail{
        height: 45px;
        padding: 5%;
    }
    .message{
        height: 120px;
        padding: 5%;
    }
    .submit{
        width: 80px;
        height: 35px;
        font-size: 1.5rem;
    }
}