@media only screen and (min-width:2560px){
    html{
        font-size: 30px;
    }
    .landing-page,.service,.about,.contact{
        min-height:100vh;
        width: auto;
        /* border: 2px solid red; */
    }
    .service,.about,.contact{
        padding:0;
    }
    .nav{
        height: 10vh;
        font-size: 3.1vh;
        /* border: 2px solid red; */
        margin-top: 10px;
    }
    .nav ul{
        gap: 1vw;
    }
    .main-nav a{
        font-size: 2.5vh;
    }
    .discription{
        gap: 5vh;
        margin-right: 8%;
    }
    .discription h2{
        font-size: 5vh;
    }
    .discription h1{
        font-size: 5vh;
    }
    .discription h3{
        font-size: 5vh;
    }
    .discription p{
        font-size: 3vh;
    }
    .download{
        font-size: 2vh;
    }
    .images img{
        width: 5%;
        height: fit-content;
    }
    .glow img{
        width: 25vw;
    }
    /* service section */
    #heading{
        margin-top: 5vh;
        font-size: 5.5vh;
    }
    .service{
        /* border: 2px solid red; */
    }
    .service h1{
        font-size: 5vh;
    }
    .first-service img,.second-service img{
        width: 5vh;
    }
    .first-service p,.second-service p{
        font-size: 2.5vh;
    }
    .read1,.read2{
        font-size: 2vh;
    }
    .services{
        height: 85vh;
    }
    .first-service,.second-service{
        width: 25vw;
        height: 50vh;
        gap: 2vh;
    }
    .first-service h1,.second-service h1{
        font-size: 4vh;
    }
    /* about section */
    .imgcontainer{
        width: 35vw;
    }
    .text{
        gap: 7vh;
    }
    .text h1{
        font-size: 6vh;
    }
    .text p{
        font-size: 2.8vh;
    }
    .stats{
        gap: 5vh;
    }
    .skill-btn,.edu-btn{
        font-size: 2vh;
    }
    /* contact section */
    .contants h1{
        font-size: 10vh;
    }
    .email a,.number p{
        font-size: 2.6vh;
    }
    .email img,.number img{
        width: 3vw;
    }
    .social-media2{
        gap: 3vw;
    }
    .social-media2 img{
        width: 3.9vw;
    }
    .form{
        gap: 5vh;
    }
    .name::placeholder,.mail::placeholder,.message::placeholder{
        font-size: 2vh;
    }
    .submit{
        font-size: 2.2vh;
    }

}
@media only screen and (max-width:2559px) and (min-width:1440px){
    /* landing page */
    .body{
        width: 100%;
    }
    .service,.about,.contact{
        padding: 0;
    }
    .landing-page{
        width: 100%;
      position: relative;
      min-height: 100vh;
      /* border: 2px solid red; */
    }
    .nav h1{
        font-size: clamp(16px,2vw,30px);
    }
    .nav a{
        font-size: clamp(8px,2vw,15px);
    }
    .topmain{
        justify-content: center;
        align-items: center;
        margin: 2% 0 0 0;
        height: 85vh;
    }
    .discription{
        /* border: 2px solid white; */
        gap: 1vh;
        height: 70vh;
        margin: 0 1% 0 1%;
    }
    .discription h2{
        font-size: clamp(16px, 3vw, 30px);
   }
   .discription h1{
       font-size: clamp(16px, 3vw, 30px);
   }
   .discription h3{
       font-size: clamp(16px, 3vw, 30px);
   }
   .discription p{
       font-size: clamp(10px, 3vw, 20px);

   }
   /* services section*/
   .service{
    height: 100vh;
   }
   .services{
    height: 90vh;
   }
   /* about section */
   .about{
    min-height: 100vh;
   }
   .contact{
    min-height: 100vh;
   }
}
@media only screen and (max-width:1440px) and (min-width:900px){
    /* landing page */
    .body{
        width: 100%;
    }
    .service,.about,.contact{
        padding: 0;
    }
    .landing-page{
        width: 100%;
      position: relative;
      min-height: 100vh;
    }
    .nav a{
        font-size: clamp(8px,2vw,15px);
    }
    .topmain{
        margin: 5% 0 0 0;
        height: 80vh;
    }
    .discription{
        gap: 1vh;
        height: 70vh;
    }
    .discription h2{
        font-size: clamp(16px, 3vw, 30px);
   }
   .discription h1{
       font-size: clamp(16px, 3vw, 30px);
   }
   .discription h3{
       font-size: clamp(16px, 3vw, 30px);
   }
   .discription p{
       font-size: clamp(8px, 2vw, 18px);

   }
   .images img{
    width: 3.5vw;
    height: fit-content;
   }
   .glow img{
    transform: translateY(-15%);
   }
    /* service section */
    .service{
        min-height: 100vh;
       padding-top: 5vh;
    }
    .services{
        height: 80vh;
        flex-wrap: nowrap;
        gap: 20vw;
    }
    .first-service,.second-service{
        max-width: 300px;
        width: 90vw;
        max-height: 315px;
        height: 55vh;
        gap: 2vh;
    }
    .first-service h1,.second-service h1{
        font-size: clamp(16px,3vw,30px);
    }
    .first-service p,.second-service p{
        font-size: clamp(8px,2vw,16px);
    }
    .read1,.read2{
        font-size: clamp(8px,2vw,16px);
    }
    /* about section */
    .about{
        min-height: 100vh;
    }
    .contact{
        min-height: 100vh;
    }
}
@media only screen and (max-width:900px) and (min-width:409px) {
    .landing-page,.service,.about{
        min-height:100vh ;
    }
    .nav h1{
        font-size: clamp(10px, 4vw, 40px);
    }
    .nav ul{
        display: none;
    }
    .menu{
        display: contents;
        
    }
    .menu img{
        width: 5vw;
        height: fit-content;
        position: none;
        right: 0px;
        top: 22px;
    }
    .nav{
        justify-content: space-between;
        position: relative;
    }
    .topmain{
        flex-direction: column-reverse;
    }
    .glow{
        width: 55vw;
        height:40vw;
        position: relative;
        margin: 0 auto;
    }
    .glow img{
        position: absolute;
        width: 75%;
        top: 0%;
    }
    .discription{
        width: 100%;
        margin: 0;
    }
    .discription h2{
        font-size: clamp(20px, 5vw, 50px);

   }
   .discription h1{
       font-size: clamp(20px, 5vw, 50px);

   }
   .discription h3{
       font-size: clamp(20px, 5vw, 50px);
   }
   .discription p{
       font-size: clamp(10px, 3vw, 20px);
   }
   .images img{
    width: 6vw;
    height: fit-content;
   }
   .download{
       font-size: clamp(10px, 2vw, 20px);
   }
    /* service section */
    #heading{
        font-size: clamp(16px, 5vw, 40px);
    }
    .service{
        padding: 0;
       height: 130vh;
    }
    .services{
        height: 120vh;
        gap: 40px;
        flex-direction: column;

    }
    .first-service,.second-service{
        width: 45vw;
        height: 45vh;
        gap: 2vh;
    }
    .first-service h1,.second-service h1{
        font-size: clamp(16px,4vw,30px);
    }
    .first-service p,.second-service p{
        font-size: clamp(12px,2vw,20px);
    }
    .read1,.read2{
        height: 2vh;
        display: flex;
        align-items: center;
        font-size: clamp(12px,1.5vw,20px);
    }




    .about{
        flex-grow: 1;
        min-height: 100vh;
        margin-bottom: 3vh;
    }
    .main{
        flex-direction: column;
    }
    .imgcontainer{
        width: 55vw;
        /* border: 2px solid red; */
    }
    .imagecontainer img{
        width: 5%;
    }
    .text{
        width: 100%;
    }
    .text h1{
        margin-top: 5vh;
        font-size: clamp(16px,6vw,100px);
        text-align: center;
    }
    .text p{
        font-size: clamp(10px, 3vw, 20px);
    }
    .skill-btn,.edu-btn{
        font-size: clamp(13px, 3vw, 20px);
    }
    .uiux h4,.web-dev h4{
        font-size: clamp(10px, 3vw, 20px);
    }
    .contact{
        margin-bottom: 2vh;
        flex-grow: 1;
    }
    .containt{
        flex-direction: column;
    }
    .contants{
        width: 100%;
        gap:4vh;
    }
    .contants h1{
        font-size: clamp(16px,6vw,100px);
    }
    .detail{
        gap: 3vh;
    }
    .email a,.number p{
        font-size: clamp(12px,2vw,20px);
    }
    .email img,.number img{
        width: 7vw;
    }
    .social-media2{
        gap: 6vw;
    }
    .social-media2 img{
        width: 7vw;
    }
    .form{
        width: 100%;
        margin-top: 4vh;
        gap: 3vh;
    }
    .name,.mail{
        height: 8vh;
    }
    .message{
        height: 30vh;
    }
    .name::placeholder,.mail::placeholder,.message::placeholder{
        font-size: clamp(12px,2vw,20px);
    }
    .submit{
        width: 22vw;
        font-size: clamp(12px,3vw,20px);
        padding: 3%;
    } 
}
@media only screen and (max-width:409px){
       /* landing section */
       .body{
        width: 100%;
        height: 100vh;
    }
    .landing-page{
        position: relative;
        min-height: 100vh;
        margin-bottom: 5vh;
    }
    .service,.about,.contact{
        padding: 0;
    }
    .nav{
        justify-content: space-between;
        margin-bottom: 5px;
    }
    .nav h1{
        font-size: clamp(10px, 5vw, 40px);
    }
    .nav img{
        display: block;
    }
    .nav ul{
        display: flex;
        flex-direction: column;
        background-color:  #111327;;
        position: absolute;
        top: 0;
        right: -5%;
        height: 100vh;
        text-align: center;
        justify-content: flex-start;
        gap: 50px;
    }
    .main-nav a{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 15px;
    }
    .main-nav a img{
        position: absolute;
        left: 50px;
    }
    .cross-img{
        width: 100%;
        height: 8vh;
    }
    .cross{
        margin: 2% 1%;
        width: 10vw;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }
    .main-nav li{
        height: 50px;
        display: flex;
    }
    .list{
        display: none;
        position: relative;
    }
    .list.active{
        display: block;
    }
    .menu{
        display: contents;
        cursor: pointer;
    }
    .nav li a image{
        position: absolute;
        top: 5%;
        left: 25px;
    }
    .menu img{
       right: 0;
       position: absolute;
       width: 20px;
       top: 21px;
    }
    .topmain{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .glow{
        height: 30vh;
    }
    .glow img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        max-width: 300px;
    }
    .discription{
        margin: 0;
        width: 100%;
        gap: 1vh;
        height: 50vh;
        align-items: flex-start;
    }
    .discription h2{
         font-size: clamp(20px, 3vw, 40px);

    }
    .discription h1{
        font-size: clamp(20px, 3vw, 40px);

    }
    .discription h3{
        font-size: clamp(20px, 3vw, 40px);
    }
    .discription p{
        font-size: clamp(10px, 3vw, 20px);

    }
    .download{
        font-size: clamp(10px, 2vw, 20px);
    }
    .images img{
        width: 7vw;
        height: fit-content;
    }
    /* service section */
    .service{
       flex-grow: 1;
       margin-bottom: 20px;
       margin-bottom: 5vh;
    }
    .services{
        height: 80vh;
        gap: 3vh;
    }
    #heading{
        font-size: clamp(16px,6vw,100px);
        margin-bottom: 5vh;
    }
    .first-service,.second-service{
        max-width: 300px;
        width: 70vw;
        max-height: 315px;
        height: 40vh;
        gap: 2vh;
    }
    .first-service h1,.second-service h1{
        font-size: clamp(16px,3vw,30px);
    }
    .first-service p,.second-service p{
        font-size: clamp(12px,2vw,20px);
    }
    .read1,.read2{
        font-size: clamp(12px,2vw,20px);
    }
    /* about section */
    .about{
        flex-grow: 1;
        min-height: 100vh;
        margin-bottom: 3vh;
    }
    .main{
        flex-direction: column;
    }
    .imgcontainer{
        width: 55vw;
        /* border: 2px solid red; */
    }
    .imagecontainer img{
        width: 5%;
    }
    .text{
        width: 100%;
    }
    .text h1{
        margin-top: 5vh;
        font-size: clamp(16px,6vw,100px);
        text-align: center;
    }
    .text p{
        font-size: clamp(10px, 3vw, 20px);
    }
    .skill-btn,.edu-btn{
        font-size: clamp(13px, 3vw, 20px);
    }
    .uiux h4,.web-dev h4{
        font-size: clamp(10px, 3vw, 20px);
    }
    /* contact section */
    .contact{
        margin-bottom: 2vh;
        flex-grow: 1;
    }
    .containt{
        flex-direction: column;
    }
    .contants{
        width: 100%;
        gap:4vh;
    }
    .contants h1{
        font-size: clamp(16px,6vw,100px);
    }
    .detail{
        gap: 3vh;
    }
    .email a,.number p{
        font-size: clamp(12px,2vw,20px);
    }
    .email img,.number img{
        width: 7vw;
    }
    .social-media2{
        gap: 6vw;
    }
    .social-media2 img{
        width: 7vw;
    }
    .form{
        width: 100%;
        margin-top: 4vh;
        gap: 3vh;
    }
    .name,.mail{
        height: 8vh;
    }
    .message{
        height: 30vh;
    }
    .name::placeholder,.mail::placeholder,.message::placeholder{
        font-size: clamp(12px,2vw,20px);
    }
    .submit{
        width: 22vw;
        font-size: clamp(12px,3vw,20px);
        padding: 3%;
    } 
}
