/* @media only screen and (min-width:2560px){
   .servicewrapper{
    height: 100vh;
   }
} */
@media only screen and (max-width:2559px) and (min-width:1440px){
    .servicewrapper{
   }
   .myworksection .heading{
    margin-bottom: 100px !important;
}
   .myworksection .image-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(600px,1fr)) !important;
    grid-gap: 50px;
    
}
.myworksection .image-gallery img{
   width: 100%;
   height: auto;
   /* transition: transform 0.5s ease-in-out !important; */
}
.myworksection .image-gallery img:hover{
    /* transform: scale(1.1) !important; */
}

}
@media only screen and (max-width:1440px) and (min-width:900px){
    .list{
        width: 50%;
    }
    .discription{
        gap: 30px;
    }
    .topmain{
        margin-right: 5px;
    }
}
@media only screen and (max-width:900px) and (min-width:574px) {
    .backgroundimg{
        background-position:70%;
    }
 .list{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #191919;
    z-index: 2 ;
    width: 280px;
   
}
.list .main-nav{
    flex-direction: column;
     align-items: center;
     justify-content:center ;

}
       .menu{
        display: block;
        position: relative;
        flex: right;
        justify-content: space-around;
            cursor: pointer;
    }
    .menu img{
    width: 35px;

}
.cross{
    border: 2px solid black;
    border-radius: 50%;
    background-color: black;
    z-index: 5;
    width: 40px;
    height: 40px;
    text-align: center;
    transform: translateY(-35px);
}
.cross,.list{
    display: none;
}
.cross.active,.list.active{
    display:block;
}
.crossimg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
        z-index: 4;
}
      .portfolio h1{
        font-size: 20px;
      }
      .topmain{
        display: flex;
        align-items: center;
        z-index: 0;
      }
      .discription{
        width: 75%;
        gap: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        z-index: 0;
      }
      .discription h2{
    font-size: 20px;
}
.discription h1{
    font-size: 25px;
}
.discription h3{
    font-size: 20px;
}
.discription p{
    line-height: 1.2;
    font-size: 13px;
}
.images{
    gap: 10px;
}
.images span{
    height: 35px;
    width: 35px;
}
.images i{
    font-size: 25px;
}
.about{
    height: fit-content;
}
.main{
    display: flex;
    flex-direction: column;
}
.imgcontainer{
    width: 40%;
    padding: 40px 0;
}
.text{
    width: 90%;
}
.text h1{
    font-size: 30px;
}
.text p{
    font-size: 13px;
}
.stats{
    gap: 25px;
}
.heading{
    padding-bottom: 50px;
}
.servicewrapper{
    height:fit-content !important;
 }
 .services{
    flex-direction: column ;
 }
  .services h1{
    font-size: 20px;
 }
  .services p{
    font-size: 13px;
  }
 .first-service,.second-service{
    width: 380px;
    height: 340px;
    gap: 15px;
 }
 .contact{
    margin-top: 50px;
    height: fit-content;
 }
 .containt{
    flex-direction: column;
 }
 .contants{
    width: 100%;
    gap: 30px;
 }
  .contants h1{
    font-size: 30px;
  }
 .detail{
    gap: 30px;
 }
 .form{
    width: 90%;
 }
 .name::placeholder,.mail::placeholder,.message::placeholder{
    font-size: 13px;
 }
 .submit{
    width: 130px;
 }
 .scrolltotop{
    right: 20px;
    bottom: 20px;
 }
}
@media only screen and (max-width:574px){
   .backgroundimg{
        background-position:75%;
    }
    .landing-page{
        height: 100vh !important;
        /* border: 2px solid red !important; */
    }
.list{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #191919;
    z-index: 2 ;
    width: 250px;
   
}
.list .main-nav{
    flex-direction: column;
     align-items: center;
     justify-content:center ;

}
       .menu{
        display: block;
        position: relative;
        flex: right;
        justify-content: space-around;
            cursor: pointer;
    }
    .menu img{
    width: 35px;

}
.cross{
    border: 2px solid black;
    border-radius: 50%;
    background-color: black;
    z-index: 5;
    width: 40px;
    height: 40px;
    text-align: center;
    transform: translateY(-35px);
}
.cross,.list{
    display: none;
}
.cross.active,.list.active{
    display:block;
}
.crossimg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;

}
      .portfolio h1{
        font-size: 20px;
      }
      .topmain{
        display: flex;
        align-items: center;
        z-index: 0;
      }
      .discription{
        width: 100%;
        gap: 30px;
        margin-bottom: 30px;
        z-index: 0 !important;
      }
      .discription h2{
    font-size: 20px;
}
.discription h1{
    font-size: 25px;
}
.discription h3{
    font-size: 20px;
    width: 80%;
}
.discription p{
    line-height: 1.5;
    font-size: 13px;
}
.images{
    gap: 15px;
}
.images span{
    height: 45px;
    width: 45px;
}
.images i{
    font-size: 30px;
}
.download{
    font-size: 13px;
}
.about{
    height: fit-content;
}
.main{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}
.imgcontainer{
    width: 70%;
    padding: 40px 0;
}
.text{
    width: 100%;
}
.text h1{
    font-size: 30px;
}
.text p{
    font-size: 13px;
}
.stats{
    gap: 25px;
}
/* service section  */
 .servicewrapper{
    height: fit-content !important;
 }
 .heading{
    padding-bottom: 50px;
 }
 .services{
    flex-wrap: wrap;
    gap: 80px;
 }
 .services h1{
    font-size: 20px;
 }
  .services p{
    font-size: 13px;
  }
 .first-service,.second-service{
    width: 320px;
    height: fit-content;
 }
 .services img{
    width: 35px;
 }


 .contact{
    margin-top: 50px;
    height: fit-content;
 }
 .containt{
    flex-direction: column;
 }
 .social-media2{
    gap: 20px;
 }
 .contants{
    width: 100%;
    gap: 30px;
    margin-bottom: 40px;
 }
  .contants h1{
    font-size: 30px;
  }
 .detail{
    gap: 30px;
 }
 .form{
    width: 90%;
 }
 .name::placeholder,.mail::placeholder,.message::placeholder{
    font-size: 13px;
 }
 .submit{
    width: 130px;
 }
 .scrolltotop{
    display: none !important;
 }
}

.myworksection .image-gallery {
    /* border: 2px solid white; */
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr)) ;
}
.myworksection .heading{
    margin-bottom: 30px;
}
.myworksection .image-gallery  img{
    transition: none;
}
.myworksection .image-gallery img:hover{
    transform: none;
}